<!-- <div class="row">
  <div class="col-2">ID</div><div class="col-6">{{katWarning.id}}</div>
</div> -->
<div class="row">
  <div class="col-2">Standort:</div>
  <div class="col-6" *ngIf="newMode">
    <select [(ngModel)]="katWarning.locationId" id="locationId">
      <option *ngFor="let location of availableLocations" [ngValue]="location.locationId">
        {{ location.name }}
      </option>
    </select>
  </div>
  <div class="col-6" *ngIf="!newMode">
    {{ katWarning.locationId }}
  </div>
</div>
<div class="row mt-3">
  <div class="col-9 offset-2">
      In der Zeit zwischen <input class="mini-input" type="number" min="0" max="24" [(ngModel)]="katWarning.fromTime" maxlength="2" name="fromTime"> und <input maxlength="2" class="mini-input" type="number" min="0" max="24" [(ngModel)]="katWarning.toTime" name="toTime"> Uhr
      werden heute im südlichen Teil des Neusiedler Sees Windstärken über <input class="mini-input" maxlength="3" type="number" min="0" max="300" step="1" [(ngModel)]="katWarning.expectedWind" name="expectedWind"> km/h erwartet.
      Derzeit beträgt die Windstärke <input class="mini-input" type="number" [(ngModel)]="katWarning.currentWind" maxlength="3" min="0" max="300" step=".1" name="currentWind"> km/h.
  </div>
</div>
<div class="row mt-3">
  <div class="col-10 offset-2">
    <button type="button" class="btn btn-outline-secondary" *ngIf="katWarning.id != null" (click)="update()" [disabled]="progress">Aktualisieren der Warnung</button>
    <button type="button" class="btn btn-outline-secondary" *ngIf="katWarning.id != null" (click)="cancel()" [disabled]="progress">Warnung Aufheben</button>
    <button type="button" class="btn btn-outline-secondary" *ngIf="katWarning.id == null" (click)="create()" [disabled]="progress">Neue Warnung erstellen</button>
    <button type="button" class="btn btn-outline-secondary" [routerLink]="['../..']">Schliessen</button>
  </div>
</div>
<div class="row mt-3" *ngIf="this.message">
  <div class="col-12">
      <div class="alert alert-danger">{{this.message}}</div>
  </div>
</div>

