<div class="list-group" *ngIf="katWarnings">
      <button type="button" routerLink="/kat/{{katwarn.locationId}}" *ngFor="let katwarn of katWarnings" class="list-group-item list-group-item-action">
        In der Zeit zwischen {{katwarn.fromTime}} und {{katwarn.toTime}} Uhr
        werden heute in {{katwarn.locationId}} Windstärken über {{katwarn.expectedWind}} km/h erwartet.
        Derzeit beträgt die Windstärke {{katwarn.currentWind}} km/h.
      </button>
     <button type="button" *ngIf="katWarnings.length == 0" class="list-group-item disabled" href="#">Keine aktuellen Warnungen</button>
     <button type="button" routerLink="/kat/new" class="list-group-item list-group-item-action">Neue Unwetterwarnung...</button>
</div>

